{% extends "navbar.html" %}

{% block content %}
<style>
    body{
        background-image: url(https://imgs.search.brave.com/Bj_fjrtAsOleeaU_WtpGgHF-3bLB7oUQ1CAzll0yCD4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9idXJz/dC5zaG9waWZ5Y2Ru/LmNvbS9waG90b3Mv/Z3JhZC1zdHVkZW50/cy10aHJvd2luZy1o/YXRzLWluLXRoZS1h/aXIuanBnP3dpZHRo/PTEwMDAmZm9ybWF0/PXBqcGcmZXhpZj0w/JmlwdGM9MA);
        background-repeat: no-repeat;
        background-size: cover;
    }
  
</style>
<center>
<div class="card border bg-transparent">
<h1 style="color: rgb(8, 11, 8);">Welcome to Admin Dashboard</h1>
<p style="color: rgb(8, 9, 8);">App that lets you keep track of Teachers and students</p>

<div class="card">
    <img src="https://imgs.search.brave.com/Aam-eF_CCOfj0RK-Ci1aXwwCGZFcX7t0sDgRepGcpYs/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9idXJz/dC5zaG9waWZ5Y2Ru/LmNvbS9waG90b3Mv/c3R1ZGVudHMtd29y/a2luZy1hbmQtc3R1/ZHlpbmctZmxhdGxh/eS5qcGc_d2lkdGg9/MTAwMCZmb3JtYXQ9/cGpwZyZleGlmPTAm/aXB0Yz0w"  alt="">

</div>
</div>
</center>
{% endblock %}