{% extends 'navbar.html' %}
{% block content %}
<style>
    
        body{
            background-image: url(https://imgs.search.brave.com/y5eMxYri9iWBHFvqmfYMVqc3nTG6pBdB-CXkqwHcgzw/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9idXJz/dC5zaG9waWZ5Y2Ru/LmNvbS9waG90b3Mv/c3R1ZGVudHMtd29y/a2luZy1vbi1wcm9q/ZWN0LmpwZz93aWR0/aD0xMDAwJmZvcm1h/dD1wanBnJmV4aWY9/MCZpcHRjPTA);
            background-size: cover;
            background-repeat: no-repeat;
        }
    
</style>
<div class="container">
    <h1 style="color: rgb(193, 26, 26);">Teachers List</h1>
    <table border="1" style="background-color: white;width:100%;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Age</th>
            <th>Course</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.name }}</td>
            <td>{{ teacher.address }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.age|default:"N/A" }}</td>
            <td>{{ teacher.course.coursename }}</td>
            <td>
                {% if teacher.image %}
                 <img src="{{ teacher.image.url }}" alt="{{ teacher.name }}" width="50" height="50">
                {% else %}
                 N/A
                {% endif %}
            </td>

            <td>
                <a href="{% url 'delete_teacher' teacher.id %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No teachers found.</td>
        </tr>
        {% endfor %}
        {% if messages %}
            {% for message in messages %}
            <p class="message {{ message.tags }}" style="background-color:rgb(239, 23, 23);color:white;">{{ message }}</p>
            {% endfor %}
            {% endif %}
    </table>
</div>
{% endblock %}
